.App {
  text-align: center;
  max-width: 720px;
}


/* bottom right corner */
::-webkit-scrollbar-corner {
  background: rgba(54, 54, 54, 0.54);
}
::selection {
  background-color: rgb(168, 66, 44);
  color: #fff;
}
/* loading spinner animation */
.spinner {
  margin: 100px auto ;
  width: 50px ;
  height: 40px ;
  text-align: center ;
  font-size: 10px ;
}

.spinner > div {
  background-color: rgb(240,95,64) ;
  height: 100% ;
  width: 6px ;
  margin : 2px ;
  display: inline-block ;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out ;
  animation: sk-stretchdelay 1.2s infinite ease-in-out ;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s ;
  animation-delay: -1.1s ;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s ;
  animation-delay: -1.0s ;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s ;
  animation-delay: -0.9s ;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s ;
  animation-delay: -0.8s ;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4) ;
    -webkit-transform: scaleY(0.4) ;
  }  20% {
    transform: scaleY(1.0) ;
    -webkit-transform: scaleY(1.0) ;
  }
}